.square{
    width: 99px;
    height: 99px;
    background-color: white;
    border: 2px solid black;
    
    cursor: pointer;
    outline: none;
    font-size: 60px;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-wrap: wrap;
}

.square:hover {
    background-color: #61dafb;
    transition: .3s all ease;

}

.active {
    background-color: #0a0c72;
    text-decoration: underline;
    
}